*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    margin: 100px 0px;
    background-color: lightblue;
}
.counter{
    max-width: 421px;
    margin: auto;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 15px 15px;
}
p{
    color: crimson;
    font-size: 50px;
    padding-bottom: 15px;
}
button{
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.pilus{
    font-size: 25px;
    font-weight: 600;
}
.min{
    font-size: 25px;
    font-weight: 600;
}
.tozalash{
    font-size: 25px;
    font-weight: 600;
}

@media (max-width: 375px) {
    .tozalash{
        margin-bottom: 8px;
    }
}